<br />

<div class="container">

    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-group col-md-12 font-weight-bold">
                                <h4>Create Estimate  </h4>
                            </div>
                        </div>
                        <div class="card-body">

                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td style="width:25%"></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="radio" [(ngModel)]="type" value="2" checked /> Civil
                                                    <input type="radio" [(ngModel)]="type" value="1" checked /> EM
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:25%"></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="code"
                                                           id="code"
                                                           required
                                                           minlength="3"
                                                           maxlength="16"
                                                           [(ngModel)]="code"
                                                           (keyup.enter)="search()"
                                                           (ngModelChange)="codeChange()"
                                                           #codeModel="ngModel"
                                                           #codeEl />
                                                </div>
                                                <div class="col-md-6">
                                                    <button (click)="search()" [disabled]="isSearch" class="btn btn-primary  mx-2">Search</button>
                                                    <button (click)="myBlock()" class="btn btn-primary mx-2">Block</button>
                                                </div>

                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Result</td>
                                        <td>
                                            <select [(ngModel)]="item"
                                                    id="item"
                                                    name="item"
                                                    class="form-control"
                                                    #chapterModel="ngModel"
                                                    (change)="changeItem($event)"
                                                    #itemEl>
                                                <option value="0" selected>Select one</option>
                                                <option *ngFor="let c of resultItems" value={{c.id}}>{{c.code+" "+c.name}}</option>
                                            </select>


                                        </td>
                                    </tr>


                                    <tr *ngIf="showitem.rate>0">
                                        <td></td>
                                        <td>
                                            Topic: {{showitem.topic.name}}<br />

                                            <!--Description: {{showitem.topic.description}}<br />-->
                                            Type: {{showitem.topic.type}}<br />
                                            Page: {{showitem.topic.page}}<br />
                                            Code: {{showitem.code}} <br />
                                            Rate: Tk {{showitem.rate|number}}  <br />
                                            Unit: {{showitem.unit}}<br />
                                            Quantity: <input type="text" [(ngModel)]="qty" /> <br />
                                            <p></p>
                                            <button (click)="addItem()" class="btn btn-primary ">Add</button>
                                            <button (click)="addItemValue()" class="btn btn-primary mx-2">Add Value</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="list.length>0">
                                        <td colspan="2" align="center">
                                            <button (click)="dlFile()" class="btn btn-primary mx-2">Download</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group row ">
                                    <table style="border-collapse: collapse; width: 100%;" border="1">
                                        <tbody>
                                            <tr>
                                                <td>Item no</td>
                                                <td>Description</td>
                                            </tr>
                                            <tr>
                                                <td><table style="width:100%">
                                                    <tr>
                                                    <td>item1 <br /></td>
                                                    <td>code 1234</td>
                                                    </tr></table></td>
                                                <td>abc def</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<p>estimate-item works!</p>-->
